<%- include layout/header %>

<main class="container" style="height: 92vh;">
    <div class="row h-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-white text-center"><%=msg%></h1>

        <a href="/" class="btn btn-success w-25">Volver al inicio</a>
    </div>
</main>

<%- include layout/footer %>