<%- include ./layout/header.ejs %> 

<h2 class="texto_Two text-white my-3 mx-5">Recomendaciones</h2>

<div class="container border">
    
    <div class="row" >
        <div class="col-md-6">
            <div class="mb-3 card2 mt-3">
                <div class="row g-0">
                <div class="col-md-4">
                  <img src="./images/juego7.png">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text-white" style="font-weight: bold;">Juego de Cartas UNO</h5>
                    <p class="card-text text-white">Es un juego de cartas estadounidense desarrollado en 1971 por Merle Robbins en Reading, Ohio. El juego es un producto de Mattel desde 1992.
                      El juego cuenta con un total de 108 cartas para el juego Uno original y 112 para el lanzado en 2005, Uno Spin, que a diferencia del original tiene una ruleta.
                      El juego contiene una serie de cartas comodines capaces de ayudar durante la partida, estas son: más 2 y más 4, Cambio de color, cambio de sentido y Restricción de carta.</p>
                    <p class="card-text"><small class="text-muted">Actualizado hace 3 meses</small></p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a href="#" class="btn boton justify-content-center">Jugar Ahora</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>

</div>

<%- include ./layout/footer.ejs %> 