<%- include ./layout/header.ejs %> 

<h2 class="texto_Two text-white my-3 mx-5">Video<span class="texto_Two" >Juegos</span></h2>
<div class="container border">
    <div class="row" >
        <div class="col-md-4">
            <div class="Card1 text-white mt-3">
                <img src="./images/juego1.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Brawl Stars</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Brawl Stars es un videojuego multijugador en línea freemium para móviles disponible en Android.</p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
            <div class="card1 miCard text-white">
                <img src="./images/juego2.jpg" class="card-img-top " alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Pokemon Go</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Pokemon Go es un videojuego de realidad aumentada basado en la localización desarrollado por Niantic​ para dispositivos iOS y Android. </p>
                </div>
                <div class=" d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="card1 miCard text-white">
                <img src="./images/juego3.jpg" class="card-img-top " alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Hero Wars</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">Hero Wars, hecho por Nexters Global, es un juego de aventuras de fantasía RPG disponible en escritorio y móvil.</p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
            <div class="card1 miCard text-white">
                <img src="./images/juego4.jpg" class="card-img-top " alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">CALL OF DUTY Black Ops 4</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">COD es un videojuego de disparos en primera persona de estilo bélico fue desarrollado por Treyarch y distribuido por Activision.</p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="card1 miCard text-white">
                <img src="./images/juego5.jpg" class="card-img-top " alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Grand Theft Auto V</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">GTAV es un videojuego de acción-aventura de mundo abierto desarrollado por el estudio Rockstar North y distribuido por Rockstar Games. </p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
            <div class="card1 miCard text-white">
                <img src="./images/juego6.jpg" class="card-img-top " alt="...">
                <div class="d-flex justify-content-center mt-1">
                    <h5 class="card-title" style="font-weight: bold;">Genshin Impact</h5>
                </div>
                <div class="text-center">
                    <p class="card-text ">GI es un juego de acción ARPG de mundo abierto free-to-play con una mecánica de monetización de Gacha para conseguir elementos adicionales como personajes especiales y armas.</p>
                </div>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn boton justify-content-center">Obtener Ahora</a>
                </div>
            </div>
            <br/>
        </div>


    

    </div>

</div>

<%- include ./layout/footer.ejs %> 