<%- include ./layout/header.ejs %> 

<h2 class="texto_Two text-white my-3 mx-5">Video<span class="texto_Two" >Juegos</span></h2>
<div class="container border">
    <div class="row" id="games">
        
    </div>

</div>
<script src="/javascript/juegos/scripts.js"></script>
<%- include ./layout/footer.ejs %> 