body{
  background-image: radial-gradient(black 15%, transparent 16%),
    radial-gradient(black 15%, transparent 16%),
    radial-gradient(#ffffff1a 15%, transparent 20%),
    radial-gradient(#ffffff1a 15%, transparent 20%);
    background-position: 0 0, 8px 8px, 0 1px, 8px 9px;
    background-size: 16px 16px;
    background-color: #282828;
    font-family: 'Nunito', sans-serif;
}

textarea{
  resize: none;
}

.border{
  border-radius: 10px;
  background-color: 
  rgba(161, 159, 156, 0.685);
  justify-content: center;
}

.Card1{
  background-color: rgba(214, 210, 210, 0.829);
  border-radius: 40px;
  height: 420px;
}

.Card1 img{      
  height: 200px;
  width: 100%;    
  border-radius: 24px 24px 0 0;
}

.card2{
  height: 300px;
  width: 1090px;
  background-color: rgba(214, 210, 210, 0.829);
  border-radius: 40px;
}

.card2 img{      
  height: 300px;
  width: 100%;    
  border-radius: 24px 24px 24px 24px;
}

.pointer{
  cursor: pointer;
}

.img-container{
  width: 500px;
  height: 380px;
  background-color: rgb(109, 109, 109);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-radius: 16px;
}

.img-container>img{
  object-fit: fill;
}


.btn-light{
  transition: ease-in-out 0.3s;
}

.btn-light:hover{
  color: aliceblue;
  background-color: rgb(85, 84, 84);
}
